<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>
<body class="panel">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">OdeToFood</a>
            </div>
            <div class="navbar-right">
                <vc:login-logout></vc:login-logout>
            </div>
        </div>
    </nav>
    <div>
        @RenderBody()
    </div>

    <footer>
        @RenderSection("footer", required: false)
        <vc:greeter></vc:greeter>
        

        @*@if (User.Identity.IsAuthenticated)
        {

            foreach (var identity in User.Identities)
            {
                <h3>@identity.Name</h3>
                <ul>
                    @foreach (var claim in identity.Claims)
                    {
                        <li>@claim.Type - @claim.Value</li>
                    }
                </ul>
            }
        }
        else{
                <div>You are anonymous</div>
            } *@
    </footer>

</body>
</html>
